{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Mail Submitted!</h1>
            <p>Thank you for reaching out. 
            </p>
            <a href="{% url 'home' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <p>We might answer within this decade</p>

        </div>
    </div>
</div>
{% endblock content %}