{% extends 'base.html' %}


{% block content %}
<div class="container my-4">
    <section>
        <h3 class="text-center mb-4 pb-2 fw-bold">FAQ</h3>
        <p class="text-center mb-5">
          Find the answers for the most frequently asked questions below
        </p>
      
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3">What types of kayaks are available for rental at Ale Lake?</h6>
            <p>
                We offer a diverse fleet of kayaks, including single-person recreational kayaks for solo adventures and tandem kayaks for paddling with a partner or a child.
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 ">How can I make a reservation for a kayak rental?

            </h6>
            <p>
                Making a reservation is easy! You can book your kayak rental online through our user-friendly website.
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3">Are life jackets provided with the kayak rentals?

            </h6>
            <p>
                Yes, the safety of our customers is a top priority. Each kayak rental includes complimentary life jackets for all participants, ensuring a safe and enjoyable experience on Ale Lake.
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3">What is the minimum age requirement for renting a kayak?
            </h6>
            <p>
                To rent a kayak, you must be at least 16 years old. However, participants aged 14-15 can enjoy kayaking with written consent from a parent or legal guardian
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3">Are pets allowed in the kayaks?
            </h6>
            <p>We understand that pets are a part of the family, but for the safety and comfort of all customers, we do not allow pets in the kayaks. However, you are welcome to enjoy the scenic beauty of Ale Lake with your furry friend from the shoreline or designated pet-friendly areas.</p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3">Is prior kayaking experience required to rent a kayak from Ale Lake?</h6>
            <p>
                No prior kayaking experience is necessary to rent a kayak from us. Our rental service is open to all skill levels, from beginners to experienced paddlers. Before setting out on the water, our friendly staff will provide a brief orientation, covering basic paddling techniques and safety guidelines to ensure you have a smooth and enjoyable kayaking experience on Ale Lake.
            </p>
          </div>
        </div>
      </section>
</div>
<div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" required>
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" required>
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="button-style" href="{% url 'contact_success' %}">Send</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>10500 N De Anza Blvd, Cupertino, CA 95014, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+1 408-996-1010</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@lakereturn.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>
{% endblock %}