{% extends 'base.html' %}


{% block content %}

<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white bg-light" id="home-bg-img">
    <h1 class="mb-3 h2">Lake Boatandhoes welcomes you!</h1>
    <div class="index-img-text">
    <p>
        Grab a drink, soak yourself and go for a swim in the deepest lake in the world! Let the 'Langers' take care of
        your precious body and keep you from the countless predators soaring the waters.
    </p>
    <p>You'll might find yourself wondering how this sounds lovely, but try and compare this to learning a new language,
        or perhaps how a machine functions. Suddenly a bottomless lake with bloodthirsty predators doesn’t sound so bad,
        right? </p>

    <p>Circumstances are not taken into consideration when managing the prices, thats why you'll always find
        availabilities with us!</p>
    <p>Your safety is important to us, so make sure you sign a full disclaimer before you book with us --> <a
            href="https://imgflip.com/i/7t2y8x" target="_blank"> Download</a></p>
            </div>
</div>

<div class="container mb-5 text-center">
    <h2>Kayak, SUP & Canoes</h2>
    <hr class="rounded">
    <h3>Lots of possibilities</h3>
    <p class="index-text">
        Boatandhoes Lake reigns as the world's ultimate gem for its unparalleled allure and unique offerings. Its
        breathtaking beauty, nestled within an enchanting forest, captivates the soul, leaving visitors spellbound.
        Sailing a kayak on its crystal-clear waters feels like gliding through dreams, as the tranquility seeps into
        every fiber of one's being.

        But what truly sets Boatandhoes Lake apart is its perfect blend of family-friendly activities and serene
        ambiance. Here, families can immerse themselves in gentle kayaking experiences, creating cherished memories that
        last a lifetime. Children explore the wonders of nature, while parents find solace in the calming surroundings,
        forging stronger bonds amidst the idyllic scenery.

        Boatandhoes Lake serves as a cradle for love, exploration, and unity, where the laughter of families echoes like
        sweet music over the emerald waters. This magical realm becomes a canvas for unforgettable moments, drawing
        visitors back time and again to experience the unparalleled magic that is Boatandhoes Lake.</p>
    <div class="d-grid gap-4">
        <button class="btn button-style" type="button">Make a Booking</button>
        <button class="btn button-style" type="button">Prices</button>
        <button class="btn button-style" type="button">Find us</button>
    </div>

</div>
{% endblock %}