{% extends 'base.html' %}


{% block content %}

<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white bg-light" id="home-bg-img">
    <h1 class="mb-3 h2">Lake Ale Rentals Welcomes you</h1>
    <div class="index-img-text">
    <p>
        Grab a drink, soak yourself and go for a swim in the deepest lake in the world! 
    </p>
    <p>We have the biggest storage of floatation devices on the planet, thats why you'll always find
        availabilities with us!</p>
        {% if user.is_authenticated %}
        <a href="{% url 'order' %}" class="button-style-img">Book Now</a>
        {% else %}
        <a href="{% url 'account_login' %}" class="button-style-img">Log in, or create a user to Book Now</a>
        {% endif %}


            </div>
</div>

<div class="container mb-5 text-center">
    <h2>Kayak, SUP & Canoes</h2>
    <hr class="rounded">
    <h3>Lots of possibilities</h3>
    <p class="index-text">
        Lake Ale reigns as the world's ultimate gem for its unparalleled allure and unique offerings. Its
        breathtaking beauty, nestled within an enchanting forest, captivates the soul, leaving visitors spellbound.
        Sailing a kayak on its crystal-clear waters feels like gliding through dreams, as the tranquility seeps into
        every fiber of one's being.

        But what truly sets Boatandhoes Lake apart is its perfect blend of family-friendly activities and serene
        ambiance. Here, families can immerse themselves in gentle kayaking experiences, creating cherished memories that
        last a lifetime. Children explore the wonders of nature, while parents find solace in the calming surroundings,
        forging stronger bonds amidst the idyllic scenery.

        Boatandhoes Lake serves as a cradle for love, exploration, and unity, where the laughter of families echoes like
        sweet music over the emerald waters. This magical realm becomes a canvas for unforgettable moments, drawing
        visitors back time and again to experience the unparalleled magic that is Boatandhoes Lake.</p>
    <div class="d-grid gap-4">
        {% if user.is_authenticated %}
        <a href="{% url 'order' %}" class="button-style">Make a Booking!</a>
        {% else %}
        <a href="{% url 'account_login' %}" class="button-style">Log in to make a booking</a>
        {% endif %}
        <a href="{% url 'pricing' %}" class="button-style">Pricing</a>
        <a href="{% url 'faq' %}" class="button-style">Contact us</a>
    </div>

</div>
{% endblock %}