{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>Go to your profile to see or manage your bookings</p>
            <a href="{% url 'home' %}">Go to the homepage</a>
            <br>
            <a href="{% url 'profile' %}">Visit your profile</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h1>Order Summary:</h1>
            {% for item in items %}
                <p>{{ item.name }} <span class="pl-3">{{ item.price }} $</span></p>
                <p>Present you username or email at the counter to claim your booking</p>
            {% endfor %}
            

            <p class="font-weight-bold pt-4">Total: {{ price }} $</p>
        
            <h2>We look forward to see you fight for you life</h2>
            <p>Lifevest not included in displayed price.</p>
        </div>
    </div>
</div>
{% endblock content %}