{% extends 'base.html' %}

{% block content %}

<h1>this is profile</h1>
<p>Hello {{user_my_site}}</p>

<form method="POST" action="{% url 'profile'%}">
    {% csrf_token %}
    <input type="text" name="email" placeholder="{{user_my_site.email}}" />
    <input type="text" name="username" placeholder="{{user_my_site.username}}" />
    <input type="text" name="first_name" placeholder="{{user_my_site.first_name}}" />
    <input type="text" name="last_name" placeholder="{{user_my_site.last_name}}" />
    <button type="submit" class="button-style" data-bs-toggle="modal" data-bs-target="#exampleModal">
        submit
    </button>
</form>

<div class="row justify-content-center">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if my_orders %}
                        {% for order in my_orders %}
                        <tr>
                            <th scope="row">{{ order.pk }}</th>
                            <td>{{ order.price }}</td>
                            <td>{{ order.user.username }}</td>
                            <td>{{ order.user.email }}</td>
                            <td>
                                <a href="{% url 'update-order' order.pk%}"> view details</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        No orders here
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}