{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/kayak-1.webp' %}" alt="Kayak Logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order' %}">Book Here!</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="{% url 'account_login' %}">Book Here!</a>
          </li>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">You must be logged in to make a booking</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a href="{% url 'account_login' %}" class="btn btn-primary">Go to login</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto mb-2">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link">My site: {{user.username}} </a>
          </li>
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
          </li>
          </ul>

      </div>
    </div>
  </nav>
</header>