{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Revenue</h4>
                <h1 class="text-center" style="color: green;">${{ total_revenue }}</h1>
            </div>

            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Orders</h4>
                <h1 class="text-center" style="color: #ad0003;">{{ total_orders }}</h1>
            </div>
        </div>

        <div class="row justify-content-center container" style="overflow-x:auto;">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Product</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Status</th>
                            <th scope="col">Change Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order.pk }}</th>
                            <td>{{ order.price }} $</td>
                            <td>
                                {% for item in order.items.all %}
                                {{item.id}}
                                {% endfor %}
                            </td>
                            <td>{{ order.user.email }}</td>
                            <td>
                                <form method="post" action="{% url 'change_status' order.pk %}">
                                {% csrf_token %}
                                <select id="status_dropdown" name="status">
                                    <option value="Awaiting Pickup">Awaiting Pickup</option>
                                    <option value="Delivered">Delivered</option>
                                  </select>
                                  </td>
                                  <td>
                                    <button type="submit">Update Status</button>
                                  </td>
                                  <td>
                                    {{ order.status }}
                                  </td>
                                  </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}